/** Plugin Settings **/
$prefix: 'bfxselect';

$fontVar: Century Gothic;


$primary-color:black;
$btnBaseColor:#f1f2f4;
$btnTopColor: #e0e1e5;
$btnBorder:#fafafa;
$mainBgColor: #fafafa;
$contrastColor: #0074c7;
$highcontrastColor: #005d9f;
