/**
Style imports
**/
@import './config/variables';
@import './mixins';
.#{$prefix} {
    background-color:$mainBgColor;
    width:100%;
    font-family:$fontVar;
    position:relative;
    -webkit-font-smoothing: antialiased;
    
    .selector-btn {
        position:absolute;
        display:block;
        width:100%;
        text-align:center;
        cursor:pointer;
        height:45px;
        font-size:12px;
        background-color:none;
        overflow:hidden;
        border-radius:(8px);
        border:1px solid #d3d3d3;
        input {
            padding:3px 6px;
            position: absolute;
            left:0;
            width:80%;
            height:100%;
            border:0px;
        }
        i {
            font-size:18px;
            line-height:2.3;
            position: absolute;
            right:0;
            width:20%;
            height:100%;
            display:block;
            background: linear-gradient($btnTopColor, $btnBaseColor);
            border:0;
        }
    }
    .selectors {
        position:absolute;
        width: 100%;
        min-width: 300px;
        top:42px;
        left:0;
        
        display:none;
        .header {
            h1 {
                float:left;
                display:block;
                color:white;
                font-size:18px;
            }
            b {
                float:right;
                display:block;
                padding:5px 12px;
                background-color:$highcontrastColor;
                color:white;
                cursor:pointer;
                margin-top:7px;
                @include border-radius(2px);
            }
            background-color:$contrastColor;
            padding:10px;
        }
        .contents {
            position:relative;
            max-height:300px;
            overflow-y:scroll;
            .#{$prefix}-selectable {
                
                
                width: $fontWidth +0%;
                vertical-align: center;
                float:left;
                text-align:center;
                background-color:white;
                cursor:pointer;
                display:block;
                
                .selectable-content {
                    
            border:1px solid #fafafa;
                    
                    &:hover {
                        background-color:#fafafa;
                    }
                    i {
                        font-size:18px;
                        display:block;
                        margin: 10px auto;
                        color:#464646;
                    }
                }
                
            }
        }
        
    }
}